// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the app.ios.styl or app.mat.styl files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #ffcf35
$primary-dark = #f99f29
$secondary = #33a0e8
$tertiary  = #181e21
$light     = #dadad9
$neutral   = #f8f8f8
$positive  = #00C853
$negative  = #ff4a50
$info      = #3aa7aa
$warning   = #ff9202
$dark      = #424242
$facebook  = #355499
$google    = #df1d00
$twitter   = #62a5df
$linkedin  = #4875B4
$instagram = #fb3958
$hover     = #2984c0
$text      = #777C7F
$header    = #2b414d
$faded     = #7
$border    = #e6e6e6
$border-ktm = #69a6cb
$border-ets = #dcb958
$border-komuter = #e5002a
$text-color = #606f7b
$body-color      = $dark
$box-shadow = 0px 4px 15px rgba(0, 0, 0, 0.08)

.q-icon
  &.q-if-control
    font-size 22px
