// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'
@import './app.variables'

html
  font-family 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto,'Nunito', 'Helvetica Neue', Arial, sans-serif
  font-size 16px
  word-spacing 1px
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box
  width 100%
  height 100%
  background #f1f5f8

*,
*:before,
*:after
  box-sizing border-box
  margin 0


.full-height
  height 100%

.full-width
  width 100%

.default-container
  box-shadow: $box-shadow
  padding: 16px
  border-radius 4px
  border: 1px solid $border
  background white
  box-sizing border-box

.heading
  font-size 28px
  font-weight bold
  display block

.sub-heading
  font-size 18px
  font-weight bold
  display block
  color #3d4852

.social-media-container
  display flex
  img
    height 25px

.desc
  color $text-color

.btn
  background $secondary !important

.flex
  display flex
